/* CSS */
body {
    font-family: 'Tajawal', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    position: relative;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

input[type="number"], select {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="number"]:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: calc(100% - 20px);
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #20cf1a;
}

#result {
    margin-top: 20px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.moving-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: moveText 15s linear infinite;
    font-size: 24px;
    color: blue;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
