/* CSS styles */
body {
    font-family: 'Tajawal', Arial, sans-serif; /* استخدام خط مخصص */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
    text-align: center; /* لتوسيط المحتوى */
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #555;
    font-size: 18px; /* حجم الخط */
    font-weight: bold; /* توسيع الخط */
}

input[type="text"],
select {
    width: calc(100% - 20px); /* يوفر نفس المساحة لكافة حقول الإدخال */
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: calc(100% - 20px); /* يوفر نفس المساحة لكافة الأزرار */
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #20cf1a;
}

button:active {
    background-color: #18b816; /* لون أكثر إشراقًا عند النقر */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#result,
#convertedResult {
    margin-top: 20px;
    color: green;
    font-size: 24px;
    font-weight: bold;
}

/* إضافة نص متحرك */
@keyframes moveText {
    0% {
        transform: translateX(100%);
        text-shadow: 1px 1px 5px rgba(255, 215, 0, 1);
    }
    100% {
        transform: translateX(-100%);
        text-shadow: 1px 1px 5px rgba(255, 215, 0, 1);
    }
}

/* إضافة نص متحرك */
.moving-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: moveText 15s linear infinite; /* زيادة المدة لجعل الحركة أبطأ */
    font-size: 24px;
    width: 100%;
    text-align: center;
    color: #fc0; /* لون متناسق مع الظلال */
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* تأثير الظل */
}

.large-text {
    font-size: 20px; /* حجم الخط الأكبر */
    font-weight: bold; /* توسيع الخط */
}

#numberInput {
    margin-top: 3px; /* تحريك النص إلى الأسفل */
}
